body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #f7f8f9;
}

.container {
    max-width: 940px;
    margin: 0 auto;
    padding: 1%;
}

.app {
    width: 100%;
    height: 100px;
    background-color: #97a1b6;
    text-align: center;
}